/* intro page principale index */
div.intro{
	width: auto;
	clear: both;
	margin: 1em auto;
	text-align: center;
}

/* Couleur du bouton recherche */
.search-toggle {
	background-color: #b52b27;
}

/* Couleur hover du bouton recherche */
.search-toggle:hover,
.search-toggle.active {
	background-color: #b52b27;
}

/* Couleur de la search box */
.search-box{
	background-color: #b52b27;
}

/* Couleur hover pour les onglets du menu */
.primary-navigation li:hover > a,
.primary-navigation li.focus > a {
	background-color: #b52b27;
}

/* Support a widely-adopted but non-standard selector for text selection styles */
::selection {
	background-color: #b52b27;
}

::-moz-selection {
	background-color: #b52b27;
}

/* Couleur du menu sélectionné */
.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a,
.site-navigation .current-menu-item > a,
.site-navigation .current-menu-ancestor > a {
	background-color: #b52b27;
	color: #FFFFFF;
}

/* Couleur hover des liens du menu */
.site-navigation a:hover {
	color: #FFFFFF;
}

/* Couleur hover du titre article */
.entry-title a:hover {
	color: #b52b27;
}

/* Couleur des liens */
a {
	color: #b52b27;
}

/* Couleur hover et active des liens */ 
a:active,
a:hover {
	color: #b52b27;
}

/* Couleur Lien hover footer */
.site-info a:hover {
	color: #b52b27;
}

/* Couleur hover liens article précédent/suivant */
.post-navigation a:hover, .image-navigation a:hover{
	color: #b52b27;
}

/* Couleur hover Modifier page */
.entry-content .edit-link a:hover {
	color: #b52b27;
}

/* primary */
div.content-area-accueil{
	float: left;
	width: 100%;
}

/* SECTION */
#featured-category, #supplementary {
    /* padding-top: 20px; */
}
/* SECTION */

/* WRAPPER */
.wrapper {
    padding: 0 20px;
}
/* WRAPPER */

/********** IMAGE CATEGORIE **********/  
/* ARTICLE */
#featured-category.layout-four .hentry:nth-child(4n+1), #featured-category.layout-three .hentry:nth-child(3n+1) {
    clear: both;
}

#featured-category.layout-four .hentry {
    width: 209px;
}

#featured-category .hentry {
    border: none;
    float: left;
}

.hentry, .widget {
    margin: 0 0 20px;
}

#site-branding, #promotion-message .section, #content .wrapper, .hentry, .no-results, .not-found, .sidebar, #comments, #nav-below, #infinite-handle, #supplementary .widget, #site-generator {
    padding: 0 20px; /* 25 */
}
/* ARTICLE */

/* FIGURE */
#featured-category .featured-category-image {
    display: block;
    line-height: 0;
}

figure {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

/* FIGURE */

/* ENTRY CONTAINER */
#featured-category .entry-container {
    margin-top: 10px;
}

/* ENTRY CONTAINER */

/* HEADER */
.featured-category-wrap .hentry .entry-container header.entry-header{
	text-align: center;
}

#featured-category .entry-title {
    font-size: 24px;
}

.entry-title, .entry-title a {
    color: #404040;
}

/* HEADER */

/* AUTRE */
.list-view .site-content #featured-category .wrapper .featured-category-wrap .hentry:first-of-type{
	padding-top: 48px;
}
/********** IMAGE CATEGORIE **********/  

/* **************************************************************** */
/* PAGE CATEGORIE */
header.archive-header h1.archive-title, header.page-header h1.page-title{
	text-transform: uppercase;
	color: #b52b27;
	font-size: 2em;
}

.archive-header{
	max-width: 100%;
}