@font-face {
    font-family: "NK_Monotype Corsiva";
    src: url("../fonts/NK_Monotype_Corsiva/NK_Mono.eot?") format("eot"),
         url("../fonts/NK_Monotype_Corsiva/NK_Mono.woff") format("woff"),
         url("../fonts/NK_Monotype_Corsiva/NK_Mono.ttf") format("truetype"),
         url("../fonts/NK_Monotype_Corsiva/NK_Mono.svg#NK_MonotypeCorsiva") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia/Georgia.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'expresswayregular';
    src: url('../fonts/Expressway/expressway_rg-webfont.eot');
    src: url('../fonts/Expressway/expressway_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Expressway/expressway_rg-webfont.woff') format('woff'),
         url('../fonts/Expressway/expressway_rg-webfont.ttf') format('truetype'),
         url('../fonts/Expressway/expressway_rg-webfont.svg#expresswayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreadventorbold';
    src: url('../fonts/Texgyreadventor/texgyreadventor-bold-webfont.eot');
    src: url('../fonts/Texgyreadventor/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Texgyreadventor/texgyreadventor-bold-webfont.woff') format('woff'),
         url('../fonts/Texgyreadventor/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('../fonts/Texgyreadventor/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreadventoritalic';
    src: url('../fonts/Texgyreadventor/texgyreadventor-italic-webfont.eot');
    src: url('../fonts/Texgyreadventor/texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Texgyreadventor/texgyreadventor-italic-webfont.woff') format('woff'),
         url('../fonts/Texgyreadventor/texgyreadventor-italic-webfont.ttf') format('truetype'),
         url('../fonts/Texgyreadventor/texgyreadventor-italic-webfont.svg#texgyreadventoritalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/Texgyreadventor/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/Texgyreadventor/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Texgyreadventor/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/Texgyreadventor/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/Texgyreadventor/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



