html body{ font-family: 'Georgia', "Times New Roman",Helvetica, sans-serif; }
html body a:hover, #main a:hover { text-decoration: none; } /* liens non surlignés au hover */
html body a:hover h1, #main a:hover{ color: #CF0A1D; } /* liens couleur différente au hover */

.clear{ display: block; clear: both; }

#subscribe-text{
	background: #fefefe;
	border: 1px solid #d1d1d1;
	color: #555;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	outline: medium none;
	padding: 9px 0;
	width: 100%;
	text-align: center;
}

.subscribe-button{
	background: #555555;
	border: 1px solid #555555;
	color: #FEFEFE;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	margin: 15px 0 20px;
	padding: 8px;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

#main{ padding-left: 50px; }