/* 1920x1080 PC Grand écran */

/* 1024x768 : tablet landscape */
@media screen and (min-width: 1024px) and (max-width: 1919px) {
    div#page div#main div#content div.container { width: 680px; }
}

/* 800x600 : Small tablet landscape */
@media screen and (min-width: 768px) {
    div#page div#main div#content div.container { width: 480px; }
}

/* 768x1024 : Tablet portrait */

/* 600x800 : Small tablet portrait */

/* 480x320 : Mobile landscape */

/* 320x480 : Mobile portrait */

@media screen and (min-width: 320px) and (max-width: 479px) {
    header .site-title { font-size: 32px; }
}


/* min-width pour moyennes résolutions */
@media screen and (min-width: 1024px) {
    #main, .navbar {
        width:100%;
        clear:none;
    }
}


/* max-width pour faibles résolutions */
@media screen and (max-width: 640px) {
    #menu a, .navbar a {
        display:block;
    }
    #menu li, .navbar li {
        float:none;
        width:100%;
    }
    #main, #menu, .navbar {
        clear:both;
        width:100%;
    }
}