div.singletitle{
    text-align: center;
}

div.singletitle h2{
    font-size: 40pt;
}

div.single_thumbnail{
    text-align: center;
    padding-bottom: 40px;
}

div.single_thumbnail div.verticalblock{
    height: 401px;
    position: absolute;
    width: 170px;
    background-color: #C6362B;
    margin-left: 283px;
}

div.single_thumbnail div.verticalblock p{ padding-top: 280px; color: #FFFFFF; }

div.single_thumbnail img{ margin-left: 170px; }